* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    padding: 20px;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
}

h2 {
    color: #333;
    margin-bottom: 10px;
}

.form-container {
    margin-bottom: 30px;
}

form input {
    padding: 8px;
    margin: 5px;
    width: calc(25% - 10px);
    font-size: 16px;
}

form button {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
}

form button:hover {
    background-color: #45a049;
}

.movie-list, .highest-rated, .movie-titles, .movie-year-filter {
    margin-bottom: 30px;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    padding: 5px;
    background-color: #f1f1f1;
    margin-bottom: 10px;
    border-radius: 5px;
}

ul li:hover {
    background-color: #ddd;
}

input[type="text"], input[type="number"] {
    width: calc(25% - 10px);
}